MONGODB_URI=mongodb+srv://pranaythombare02_db_user:pranay2179@cluster0.xzx8sst.mongodb.net/movierecommendation?retryWrites=true&w=majority
TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmMWFiMmI2MzRlYWU0ODY1Njk1MDU1ZDJmMWY1NDZmZiIsIm5iZiI6MTc4NDg5Nzg4Mi44Miwic3ViIjoiNmE2MzYxNWE1NDdlMzliNzJiODRmMmZhIiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.PWnUDMOdZtje85w8OT7OD5fR5uZ4FzJ_IGo2zwd-0tA
JWT_SECRET=mysecretkey123
PORT=5000
